<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium" verbose="1" >
    <test verbose="2" preserve-order="true" name="/Users/panky/selenium-testng">
        <classes>
            <class name="com.azwebdesign.RedditSubmissionTests" >
                <methods>
                    <include name="testVerifyNewLink()"/>
                </methods>
            </class>
        </classes>
        </test>
    </suite>